@model ZeGotao.Models.Vacinas
@{
    ViewData["Title"] = "Excluir Vacina";
}

<div class="container mt-4 cadastrar-wrapper">

    <h2 class="text-center mb-4 text-danger">Excluir Vacina</h2>

    <div class="card p-4">

        <p><strong>Nome:</strong> @Model.NomeVacina</p>
        <p><strong>Descrição:</strong> @Model.DescricaoVacina</p>
        <p><strong>Faixa Etária:</strong> @Model.FaixaEtaria</p>

        <form asp-action="Delete" method="post" class="mt-3">
            <input type="hidden" asp-for="IdVacina" />

            <button class="btn btn-danger">Confirmar Exclusão</button>
            <a class="btn btn-secondary ms-2" asp-action="Index">Cancelar</a>
        </form>

    </div>

</div>
