@model ZeGotao.Models.Vacinas
@{
    ViewData["Title"] = "Detalhes da Vacina";
}

<div class="container mt-4 cadastrar-wrapper">

    <h2 class="text-center mb-4">Detalhes da Vacina</h2>

    <div class="card p-4">

        <p><strong>Nome:</strong> @Model.NomeVacina</p>
        <p><strong>Descrição:</strong> @Model.DescricaoVacina</p>
        <p><strong>Faixa Etária:</strong> @Model.FaixaEtaria</p>

        <div class="mt-3">
            <a class="btn-cadastrar" asp-action="Edit" asp-route-id="@Model.IdVacina">Editar</a>
            <a class="btn btn-secondary ms-2" asp-action="Index">Voltar</a>
        </div>
    </div>

</div>
