@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo !</h1>
    <h2>Já está cansado da sua carteirinha de vacinação caindo aos pedaços?.</h2>
    <br>
    <br>
    <h2>E que tal uma virtual?</h2>
    <br>
    <br>
    <br>
    <br>
    <h1>Atualize já, e fique por dentro das suas proximas vacinações, cadastre já.</h1>
    <h2>Um mundo com mais técnologia e um mundo com Mais Saude</h2>
</div>

<div class="buttons">
    <a class="btn-entrar" asp-controller="Home" asp-action="Entrar">
        Entrar
    </a>
    <a class="btn-cadastrar" asp-controller="Home" asp-action="Cadastrar">
        Cadastrar
    </a>
</div>
