@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastre se aqui!</h1>
    <input id="Email" placeholder="Email" />
    <input id="Nome Completo" placeholder="Nome" />
    <input id="Tel" placeholder="Tel" />
    <input id="Endereço" placeholder="Endereço" />
    <h1>Atualize já, e fique por dentro das suas proximas vacinações, cadastre já.</h1>
    <h2>Um mundo com mais técnologia e um mundo com Mais Saude</h2>
</div>

<div class="button">
    <button class="btn-entrar">Entrar</button>

        Cadastrar
    </a>
</div>
